@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.lilac {
  text-decoration: none;
  color: #ce6ddd;
  transition: 0.4s;
  padding: 5px;
  border-radius: 5px;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-container router-link {
  margin: 0 10px;
}

@media (hover: hover) {
  a:hover {
    color: whitesmoke;
    background-color: rgba(101, 45, 109, 0.9);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
  }
}